
@{ ViewData["Title"] = ""; }
@section Scripts{
    <script>$(document).ready(() => {
            if (localStorage.getItem('token') == "") {
                console.log("qqqqqqqqqq");
                $('h1').html("You are not an admin")
                $('#disappear').hide();
                $('h1').html("Login in first !!!!!!!")
                $('#head').show();
            }
           /* $('#btnsrch').click(() => {
                let name = $('#name').val(); //retunrs id Textbox value
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44333/api/Customer/" + name,
                    headers: { "Authorization": "Bearer " + localStorage.getItem("token") },
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response)
                        console.log(response)
                        $('#cid').val(response.cid);
                        $('#name').val(response.name);
                        $('#email').val(response.email);
                        $('#password').val(response.password);
                        $('span').html(response);
                    },
                    error: function (err) {

                        if (err.status == 401) {
                            console.log("error");
                            var url = '/Login/Index'// 'Url.Action("Index", "Login")';
                            window.location.href = url;
                        }
                        else if (err.status == 403) {
                            $('p').html("You are not a Customer");
                        }
                        console.log(err.responseText)
                        $('span').html(err.responseText);
                    }
                })
            }) */

            $('#btnedit').click(() => {
                let customerid = localStorage.getItem("id");
                let password = $('#password').val();

                let item = { customerid: customerid, password: password };
                console.log(item)

                $.ajax({
                    type: "PUT",
                    url: "https://localhost:44333/api/Customer/" + customerid+"/"+password ,
                    headers: { "Authorization": "Bearer " + localStorage.getItem("token") },
                    data: JSON.stringify(item), //converts Javascript object into Json
                    contentType: 'application/json',
                    success: function (response) {

                        $('span').html(response);
                       // $('p').html("Password updated!!");
                        //window.location.reload(); //reloads the page
                    },
                    error: function (err) {
                        if (err.status == 401) {
                            console.log("error");
                            var url = '/Login/Index'
                            $('p').html("You are not a Customer");
                            //window.location.href = url;
                        }
                        else if (err.status == 403) {
                            $('p').html("You are not a Customer");
                        }
                        console.log(err.responseText)
                        $('p').html(err.responseText);
                    }
                })
            })
        })</script>
}
<style>
    td, h1 {
        font-weight: bolder;
    }
</style>
<div class="head">
    <h1>Customer</h1>
</div>
<div class="container" id="disappear">
    <table class="table table-bordered">

        <tr>
            <td>Updated Password</td>
            <td><input type="password" id="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                @*<button class="btn btn-primary" id="btnsrch">Search</button>*@
                <button class="btn btn-primary" id="btnedit">Update</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="text-info"></span>
                <p></p>
            </td>
        </tr>
    </table>
</div>
@*var url = '@Url.Action("Login", "Login")';
    window.location.href = url;*@



